<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contactGroup">
      <h2 data-cy="contactGroupDetailsHeading"><span jhlTranslate="fastAdminApp.contactGroup.detail.title">Contact Group</span></h2>

      <hr />

      <jhl-alert-error></jhl-alert-error>

      <jhl-alert></jhl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhlTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contactGroup.id }}</span>
        </dd>
        <dt><span jhlTranslate="fastAdminApp.contactGroup.name">Name</span></dt>
        <dd>
          <span>{{ contactGroup.name }}</span>
        </dd>
        <dt><span jhlTranslate="fastAdminApp.contactGroup.contact">Contact</span></dt>
        <dd>
          <div *ngIf="contactGroup.contact">
            <a [routerLink]="['/contact-my-suffix', contactGroup.contact?.id, 'view']">{{ contactGroup.contact?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhlTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact-group-my-suffix', contactGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhlTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
