<div>
  <h2 id="page-heading" data-cy="ContactHeading">
    <span faTranslate="fastAdminApp.contact.home.title">Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.contact.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-fa"
        [routerLink]="['/contact-fa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" faTranslate="fastAdminApp.contact.home.createLabel"> Create a new Contact </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'fastAdminApp.contact.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
    <span faTranslate="fastAdminApp.contact.home.notFound">No contacts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contacts && contacts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="remoteId">
            <span faTranslate="fastAdminApp.contact.remoteId">Remote Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="number">
            <span faTranslate="fastAdminApp.contact.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="type"><span faTranslate="fastAdminApp.contact.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="gender">
            <span faTranslate="fastAdminApp.contact.gender">Gender</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="genderSalutationActive">
            <span faTranslate="fastAdminApp.contact.genderSalutationActive">Gender Salutation Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="name"><span faTranslate="fastAdminApp.contact.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="nameAddition">
            <span faTranslate="fastAdminApp.contact.nameAddition">Name Addition</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="salutation">
            <span faTranslate="fastAdminApp.contact.salutation">Salutation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="phone"><span faTranslate="fastAdminApp.contact.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="fax"><span faTranslate="fastAdminApp.contact.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="email"><span faTranslate="fastAdminApp.contact.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="website">
            <span faTranslate="fastAdminApp.contact.website">Website</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="notes"><span faTranslate="fastAdminApp.contact.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="communicationLanguage">
            <span faTranslate="fastAdminApp.contact.communicationLanguage">Communication Language</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="communicationChannel">
            <span faTranslate="fastAdminApp.contact.communicationChannel">Communication Channel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="communicationNewsletter">
            <span faTranslate="fastAdminApp.contact.communicationNewsletter">Communication Newsletter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="currency">
            <span faTranslate="fastAdminApp.contact.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="ebillAccountId">
            <span faTranslate="fastAdminApp.contact.ebillAccountId">Ebill Account Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vatIdentification">
            <span faTranslate="fastAdminApp.contact.vatIdentification">Vat Identification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vatRate">
            <span faTranslate="fastAdminApp.contact.vatRate">Vat Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="discountRate">
            <span faTranslate="fastAdminApp.contact.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="discountType">
            <span faTranslate="fastAdminApp.contact.discountType">Discount Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="paymentGrace">
            <span faTranslate="fastAdminApp.contact.paymentGrace">Payment Grace</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="hourlyRate">
            <span faTranslate="fastAdminApp.contact.hourlyRate">Hourly Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="created">
            <span faTranslate="fastAdminApp.contact.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="mainAddressId">
            <span faTranslate="fastAdminApp.contact.mainAddressId">Main Address Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactMainAddress.id">
            <span faTranslate="fastAdminApp.contact.contactMainAddress">Contact Main Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-fa', contact.id, 'view']">{{ contact.id }}</a>
          </td>
          <td>{{ contact.remoteId }}</td>
          <td>{{ contact.number }}</td>
          <td faTranslate="{{ 'fastAdminApp.ContactType.' + contact.type }}">{{ contact.type }}</td>
          <td faTranslate="{{ 'fastAdminApp.GenderType.' + contact.gender }}">{{ contact.gender }}</td>
          <td>{{ contact.genderSalutationActive }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.nameAddition }}</td>
          <td>{{ contact.salutation }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.fax }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.website }}</td>
          <td>{{ contact.notes }}</td>
          <td>{{ contact.communicationLanguage }}</td>
          <td faTranslate="{{ 'fastAdminApp.CommunicationChannel.' + contact.communicationChannel }}">
            {{ contact.communicationChannel }}
          </td>
          <td faTranslate="{{ 'fastAdminApp.CommunicationNewsletter.' + contact.communicationNewsletter }}">
            {{ contact.communicationNewsletter }}
          </td>
          <td>{{ contact.currency }}</td>
          <td>{{ contact.ebillAccountId }}</td>
          <td>{{ contact.vatIdentification }}</td>
          <td>{{ contact.vatRate }}</td>
          <td>{{ contact.discountRate }}</td>
          <td faTranslate="{{ 'fastAdminApp.DiscountRate.' + contact.discountType }}">{{ contact.discountType }}</td>
          <td>{{ contact.paymentGrace }}</td>
          <td>{{ contact.hourlyRate }}</td>
          <td>{{ contact.created | formatMediumDatetime }}</td>
          <td>{{ contact.mainAddressId }}</td>
          <td>
            <div *ngIf="contact.contactMainAddress">
              <a [routerLink]="['/contact-address-fa', contact.contactMainAddress?.id, 'view']">{{ contact.contactMainAddress?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-fa', contact.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-fa', contact.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contacts && contacts.length > 0">
    <div class="row justify-content-center">
      <fa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></fa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
