<div>
  <h2 id="page-heading" data-cy="ValueAddedTaxHeading">
    <span faTranslate="fastAdminApp.valueAddedTax.home.title">Value Added Taxes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.valueAddedTax.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-value-added-tax"
        [routerLink]="['/value-added-tax/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.valueAddedTax.home.createLabel"> Create a new Value Added Tax </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="valueAddedTaxes?.length === 0">
    <span faTranslate="fastAdminApp.valueAddedTax.home.notFound">No valueAddedTaxes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="valueAddedTaxes && valueAddedTaxes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="name">
            <span faTranslate="fastAdminApp.valueAddedTax.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vatType">
            <span faTranslate="fastAdminApp.valueAddedTax.vatType">Vat Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="validFrom">
            <span faTranslate="fastAdminApp.valueAddedTax.validFrom">Valid From</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="validUntil">
            <span faTranslate="fastAdminApp.valueAddedTax.validUntil">Valid Until</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vatPercent">
            <span faTranslate="fastAdminApp.valueAddedTax.vatPercent">Vat Percent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="inactiv">
            <span faTranslate="fastAdminApp.valueAddedTax.inactiv">Inactiv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="newVatId">
            <span faTranslate="fastAdminApp.valueAddedTax.newVatId">New Vat Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let valueAddedTax of valueAddedTaxes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/value-added-tax', valueAddedTax.id, 'view']">{{ valueAddedTax.id }}</a>
          </td>
          <td>{{ valueAddedTax.name }}</td>
          <td faTranslate="{{ 'fastAdminApp.VatType.' + valueAddedTax.vatType }}">{{ valueAddedTax.vatType }}</td>
          <td>{{ valueAddedTax.validFrom | formatMediumDate }}</td>
          <td>{{ valueAddedTax.validUntil | formatMediumDate }}</td>
          <td>{{ valueAddedTax.vatPercent }}</td>
          <td>{{ valueAddedTax.inactiv }}</td>
          <td>{{ valueAddedTax.newVatId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/value-added-tax', valueAddedTax.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/value-added-tax', valueAddedTax.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(valueAddedTax)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
