<div>
  <h2 id="page-heading" data-cy="ContactReminderHeading">
    <span faTranslate="fastAdminApp.contactReminder.home.title">Contact Reminders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.contactReminder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-reminder-fa"
        [routerLink]="['/contact-reminder-fa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.contactReminder.home.createLabel"> Create a new Contact Reminder </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contactReminders?.length === 0">
    <span faTranslate="fastAdminApp.contactReminder.home.notFound">No contactReminders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contactReminders && contactReminders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="remoteId">
            <span faTranslate="fastAdminApp.contactReminder.remoteId">Remote Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactId">
            <span faTranslate="fastAdminApp.contactReminder.contactId">Contact Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactName">
            <span faTranslate="fastAdminApp.contactReminder.contactName">Contact Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="dateTime">
            <span faTranslate="fastAdminApp.contactReminder.dateTime">Date Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="title">
            <span faTranslate="fastAdminApp.contactReminder.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="description">
            <span faTranslate="fastAdminApp.contactReminder.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="intervalValue">
            <span faTranslate="fastAdminApp.contactReminder.intervalValue">Interval Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="intervalType">
            <span faTranslate="fastAdminApp.contactReminder.intervalType">Interval Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="inactiv">
            <span faTranslate="fastAdminApp.contactReminder.inactiv">Inactiv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contact.id">
            <span faTranslate="fastAdminApp.contactReminder.contact">Contact</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contactReminder of contactReminders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-reminder-fa', contactReminder.id, 'view']">{{ contactReminder.id }}</a>
          </td>
          <td>{{ contactReminder.remoteId }}</td>
          <td>{{ contactReminder.contactId }}</td>
          <td>{{ contactReminder.contactName }}</td>
          <td>{{ contactReminder.dateTime | formatMediumDatetime }}</td>
          <td>{{ contactReminder.title }}</td>
          <td>{{ contactReminder.description }}</td>
          <td>{{ contactReminder.intervalValue }}</td>
          <td faTranslate="{{ 'fastAdminApp.IntervalType.' + contactReminder.intervalType }}">{{ contactReminder.intervalType }}</td>
          <td>{{ contactReminder.inactiv }}</td>
          <td>
            <div *ngIf="contactReminder.contact">
              <a [routerLink]="['/contact-fa', contactReminder.contact?.id, 'view']">{{ contactReminder.contact?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-reminder-fa', contactReminder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-reminder-fa', contactReminder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contactReminder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contactReminders && contactReminders.length > 0">
    <div class="row justify-content-center">
      <fa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></fa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
