<div>
  <h2 id="page-heading" data-cy="ContactRelationHeading">
    <span faTranslate="fastAdminApp.contactRelation.home.title">Contact Relations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.contactRelation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-relation"
        [routerLink]="['/contact-relation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.contactRelation.home.createLabel"> Create a new Contact Relation </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contactRelations?.length === 0">
    <span faTranslate="fastAdminApp.contactRelation.home.notFound">No contactRelations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contactRelations && contactRelations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span faTranslate="global.field.id">ID</span></th>
          <th scope="col"><span faTranslate="fastAdminApp.contactRelation.contactRelationType">Contact Relation Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contactRelation of contactRelations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-relation', contactRelation.id, 'view']">{{ contactRelation.id }}</a>
          </td>
          <td faTranslate="{{ 'fastAdminApp.ContactRelationType.' + contactRelation.contactRelationType }}">
            {{ contactRelation.contactRelationType }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-relation', contactRelation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-relation', contactRelation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contactRelation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
