<div>
  <h2 id="page-heading" data-cy="LayoutHeading">
    <span faTranslate="fastAdminApp.layout.home.title">Layouts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.layout.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-layout"
        [routerLink]="['/layout/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.layout.home.createLabel"> Create a new Layout </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="layouts?.length === 0">
    <span faTranslate="fastAdminApp.layout.home.notFound">No layouts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="layouts && layouts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span faTranslate="global.field.id">ID</span></th>
          <th scope="col"><span faTranslate="fastAdminApp.layout.remoteId">Remote Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let layout of layouts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/layout', layout.id, 'view']">{{ layout.id }}</a>
          </td>
          <td>{{ layout.remoteId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/layout', layout.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/layout', layout.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(layout)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
