<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="fa-isr-heading" data-cy="IsrCreateUpdateHeading" faTranslate="fastAdminApp.isr.home.createOrEditLabel">
        Create or edit a Isr
      </h2>

      <div>
        <fa-alert-error></fa-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" faTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.defaultIsr"
            for="field_defaultIsr"
            [ngbTooltip]="'fastAdminApp.isr.help.defaultIsr' | translate"
            >Default Isr</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="defaultIsr"
            id="field_defaultIsr"
            data-cy="defaultIsr"
            formControlName="defaultIsr"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.type"
            for="field_type"
            [ngbTooltip]="'fastAdminApp.isr.help.type' | translate"
            >Type</label
          >
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'fastAdminApp.IsrType.null' | translate }}</option>
            <option value="RED_INPAYMENT">{{ 'fastAdminApp.IsrType.RED_INPAYMENT' | translate }}</option>
            <option value="IBAN_NUMBER">{{ 'fastAdminApp.IsrType.IBAN_NUMBER' | translate }}</option>
            <option value="ORANGE_INPAYMENT">{{ 'fastAdminApp.IsrType.ORANGE_INPAYMENT' | translate }}</option>
            <option value="ORANGE_INPAYMENT_PLUS">{{ 'fastAdminApp.IsrType.ORANGE_INPAYMENT_PLUS' | translate }}</option>
            <option value="QR_CODE">{{ 'fastAdminApp.IsrType.QR_CODE' | translate }}</option>
            <option value="QR_CODE_WITH_REFERENCE">{{ 'fastAdminApp.IsrType.QR_CODE_WITH_REFERENCE' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.position"
            for="field_position"
            [ngbTooltip]="'fastAdminApp.isr.help.position' | translate"
            >Position</label
          >
          <select class="form-control" name="position" formControlName="position" id="field_position" data-cy="position">
            <option [ngValue]="null">{{ 'fastAdminApp.IsrPosition.null' | translate }}</option>
            <option value="ADDITIONAL_PAGE">{{ 'fastAdminApp.IsrPosition.ADDITIONAL_PAGE' | translate }}</option>
            <option value="FIRST_PAGE">{{ 'fastAdminApp.IsrPosition.FIRST_PAGE' | translate }}</option>
            <option value="LAST_PAGE">{{ 'fastAdminApp.IsrPosition.LAST_PAGE' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.name"
            for="field_name"
            [ngbTooltip]="'fastAdminApp.isr.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.bankName"
            for="field_bankName"
            [ngbTooltip]="'fastAdminApp.isr.help.bankName' | translate"
            >Bank Name</label
          >
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.bankAddress"
            for="field_bankAddress"
            [ngbTooltip]="'fastAdminApp.isr.help.bankAddress' | translate"
            >Bank Address</label
          >
          <input
            type="text"
            class="form-control"
            name="bankAddress"
            id="field_bankAddress"
            data-cy="bankAddress"
            formControlName="bankAddress"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.recipientName"
            for="field_recipientName"
            [ngbTooltip]="'fastAdminApp.isr.help.recipientName' | translate"
            >Recipient Name</label
          >
          <input
            type="text"
            class="form-control"
            name="recipientName"
            id="field_recipientName"
            data-cy="recipientName"
            formControlName="recipientName"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.recipientAddition"
            for="field_recipientAddition"
            [ngbTooltip]="'fastAdminApp.isr.help.recipientAddition' | translate"
            >Recipient Addition</label
          >
          <input
            type="text"
            class="form-control"
            name="recipientAddition"
            id="field_recipientAddition"
            data-cy="recipientAddition"
            formControlName="recipientAddition"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.recipientStreet"
            for="field_recipientStreet"
            [ngbTooltip]="'fastAdminApp.isr.help.recipientStreet' | translate"
            >Recipient Street</label
          >
          <input
            type="text"
            class="form-control"
            name="recipientStreet"
            id="field_recipientStreet"
            data-cy="recipientStreet"
            formControlName="recipientStreet"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.recipientCity"
            for="field_recipientCity"
            [ngbTooltip]="'fastAdminApp.isr.help.recipientCity' | translate"
            >Recipient City</label
          >
          <input
            type="text"
            class="form-control"
            name="recipientCity"
            id="field_recipientCity"
            data-cy="recipientCity"
            formControlName="recipientCity"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.deliveryNumber"
            for="field_deliveryNumber"
            [ngbTooltip]="'fastAdminApp.isr.help.deliveryNumber' | translate"
            >Delivery Number</label
          >
          <input
            type="text"
            class="form-control"
            name="deliveryNumber"
            id="field_deliveryNumber"
            data-cy="deliveryNumber"
            formControlName="deliveryNumber"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.iban"
            for="field_iban"
            [ngbTooltip]="'fastAdminApp.isr.help.iban' | translate"
            >Iban</label
          >
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.subscriberNumber"
            for="field_subscriberNumber"
            [ngbTooltip]="'fastAdminApp.isr.help.subscriberNumber' | translate"
            >Subscriber Number</label
          >
          <input
            type="text"
            class="form-control"
            name="subscriberNumber"
            id="field_subscriberNumber"
            data-cy="subscriberNumber"
            formControlName="subscriberNumber"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.leftPrintAdjust"
            for="field_leftPrintAdjust"
            [ngbTooltip]="'fastAdminApp.isr.help.leftPrintAdjust' | translate"
            >Left Print Adjust</label
          >
          <input
            type="number"
            class="form-control"
            name="leftPrintAdjust"
            id="field_leftPrintAdjust"
            data-cy="leftPrintAdjust"
            formControlName="leftPrintAdjust"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.topPrintAdjust"
            for="field_topPrintAdjust"
            [ngbTooltip]="'fastAdminApp.isr.help.topPrintAdjust' | translate"
            >Top Print Adjust</label
          >
          <input
            type="number"
            class="form-control"
            name="topPrintAdjust"
            id="field_topPrintAdjust"
            data-cy="topPrintAdjust"
            formControlName="topPrintAdjust"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" faTranslate="fastAdminApp.isr.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.isr.inactiv"
            for="field_inactiv"
            [ngbTooltip]="'fastAdminApp.isr.help.inactiv' | translate"
            >Inactiv</label
          >
          <input type="checkbox" class="form-check" name="inactiv" id="field_inactiv" data-cy="inactiv" formControlName="inactiv" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span faTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span faTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
