<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="fa-resource-permission-heading"
        data-cy="ResourcePermissionCreateUpdateHeading"
        faTranslate="fastAdminApp.resourcePermission.home.createOrEditLabel"
      >
        Create or edit a Resource Permission
      </h2>

      <div>
        <fa-alert-error></fa-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" faTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.resourcePermission.add"
            for="field_add"
            [ngbTooltip]="'fastAdminApp.resourcePermission.help.add' | translate"
            >Add</label
          >
          <select class="form-control" name="add" formControlName="add" id="field_add" data-cy="add">
            <option [ngValue]="null">{{ 'fastAdminApp.PermissionType.null' | translate }}</option>
            <option value="NONE">{{ 'fastAdminApp.PermissionType.NONE' | translate }}</option>
            <option value="OWN">{{ 'fastAdminApp.PermissionType.OWN' | translate }}</option>
            <option value="ALL">{{ 'fastAdminApp.PermissionType.ALL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('add')!.invalid && (editForm.get('add')!.dirty || editForm.get('add')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('add')?.errors?.required" faTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.resourcePermission.edit"
            for="field_edit"
            [ngbTooltip]="'fastAdminApp.resourcePermission.help.edit' | translate"
            >Edit</label
          >
          <select class="form-control" name="edit" formControlName="edit" id="field_edit" data-cy="edit">
            <option [ngValue]="null">{{ 'fastAdminApp.PermissionType.null' | translate }}</option>
            <option value="NONE">{{ 'fastAdminApp.PermissionType.NONE' | translate }}</option>
            <option value="OWN">{{ 'fastAdminApp.PermissionType.OWN' | translate }}</option>
            <option value="ALL">{{ 'fastAdminApp.PermissionType.ALL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('edit')!.invalid && (editForm.get('edit')!.dirty || editForm.get('edit')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('edit')?.errors?.required" faTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.resourcePermission.manage"
            for="field_manage"
            [ngbTooltip]="'fastAdminApp.resourcePermission.help.manage' | translate"
            >Manage</label
          >
          <select class="form-control" name="manage" formControlName="manage" id="field_manage" data-cy="manage">
            <option [ngValue]="null">{{ 'fastAdminApp.PermissionType.null' | translate }}</option>
            <option value="NONE">{{ 'fastAdminApp.PermissionType.NONE' | translate }}</option>
            <option value="OWN">{{ 'fastAdminApp.PermissionType.OWN' | translate }}</option>
            <option value="ALL">{{ 'fastAdminApp.PermissionType.ALL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('manage')!.invalid && (editForm.get('manage')!.dirty || editForm.get('manage')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('manage')?.errors?.required" faTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.resourcePermission.domainArea"
            for="field_domainArea"
            [ngbTooltip]="'fastAdminApp.resourcePermission.help.domainArea' | translate"
            >Domain Area</label
          >
          <select class="form-control" name="domainArea" formControlName="domainArea" id="field_domainArea" data-cy="domainArea">
            <option [ngValue]="null">{{ 'fastAdminApp.DomainArea.null' | translate }}</option>
            <option value="CONTACTS">{{ 'fastAdminApp.DomainArea.CONTACTS' | translate }}</option>
            <option value="LETTERS">{{ 'fastAdminApp.DomainArea.LETTERS' | translate }}</option>
            <option value="PRODUCTS">{{ 'fastAdminApp.DomainArea.PRODUCTS' | translate }}</option>
            <option value="SERVICES">{{ 'fastAdminApp.DomainArea.SERVICES' | translate }}</option>
            <option value="OFFERS">{{ 'fastAdminApp.DomainArea.OFFERS' | translate }}</option>
            <option value="PROJECTS">{{ 'fastAdminApp.DomainArea.PROJECTS' | translate }}</option>
            <option value="DELIVERY_NOTES">{{ 'fastAdminApp.DomainArea.DELIVERY_NOTES' | translate }}</option>
            <option value="ORDER_CONFIRMATIONS">{{ 'fastAdminApp.DomainArea.ORDER_CONFIRMATIONS' | translate }}</option>
            <option value="INVOICES">{{ 'fastAdminApp.DomainArea.INVOICES' | translate }}</option>
            <option value="USERS">{{ 'fastAdminApp.DomainArea.USERS' | translate }}</option>
            <option value="REPORTING">{{ 'fastAdminApp.DomainArea.REPORTING' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('domainArea')!.invalid && (editForm.get('domainArea')!.dirty || editForm.get('domainArea')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('domainArea')?.errors?.required"
              faTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" faTranslate="fastAdminApp.resourcePermission.role" for="field_role">Role</label>
          <select class="form-control" id="field_role" data-cy="role" name="role" formControlName="role">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="applicationRoleOption.id === editForm.get('role')!.value?.id ? editForm.get('role')!.value : applicationRoleOption"
              *ngFor="let applicationRoleOption of applicationRolesSharedCollection; trackBy: trackApplicationRoleById"
            >
              {{ applicationRoleOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" faTranslate="fastAdminApp.resourcePermission.applicationUser" for="field_applicationUser"
            >Application User</label
          >
          <select
            class="form-control"
            id="field_applicationUser"
            data-cy="applicationUser"
            name="applicationUser"
            formControlName="applicationUser"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                applicationUserOption.id === editForm.get('applicationUser')!.value?.id
                  ? editForm.get('applicationUser')!.value
                  : applicationUserOption
              "
              *ngFor="let applicationUserOption of applicationUsersSharedCollection; trackBy: trackApplicationUserById"
            >
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span faTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span faTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
