<div>
  <h2 id="page-heading" data-cy="DeliveryNoteHeading">
    <span faTranslate="fastAdminApp.deliveryNote.home.title">Delivery Notes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.deliveryNote.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-note-fa"
        [routerLink]="['/delivery-note-fa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.deliveryNote.home.createLabel"> Create a new Delivery Note </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveryNotes?.length === 0">
    <span faTranslate="fastAdminApp.deliveryNote.home.notFound">No deliveryNotes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliveryNotes && deliveryNotes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="remoteId">
            <span faTranslate="fastAdminApp.deliveryNote.remoteId">Remote Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="number">
            <span faTranslate="fastAdminApp.deliveryNote.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactName">
            <span faTranslate="fastAdminApp.deliveryNote.contactName">Contact Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="date">
            <span faTranslate="fastAdminApp.deliveryNote.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="periodText">
            <span faTranslate="fastAdminApp.deliveryNote.periodText">Period Text</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="currency">
            <span faTranslate="fastAdminApp.deliveryNote.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="total">
            <span faTranslate="fastAdminApp.deliveryNote.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vatIncluded">
            <span faTranslate="fastAdminApp.deliveryNote.vatIncluded">Vat Included</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="discountRate">
            <span faTranslate="fastAdminApp.deliveryNote.discountRate">Discount Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="discountType">
            <span faTranslate="fastAdminApp.deliveryNote.discountType">Discount Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="language">
            <span faTranslate="fastAdminApp.deliveryNote.language">Language</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="pageAmount">
            <span faTranslate="fastAdminApp.deliveryNote.pageAmount">Page Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="notes">
            <span faTranslate="fastAdminApp.deliveryNote.notes">Notes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="status">
            <span faTranslate="fastAdminApp.deliveryNote.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="created">
            <span faTranslate="fastAdminApp.deliveryNote.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contact.id">
            <span faTranslate="fastAdminApp.deliveryNote.contact">Contact</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactAddress.id">
            <span faTranslate="fastAdminApp.deliveryNote.contactAddress">Contact Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactPerson.id">
            <span faTranslate="fastAdminApp.deliveryNote.contactPerson">Contact Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactPrePageAddress.id">
            <span faTranslate="fastAdminApp.deliveryNote.contactPrePageAddress">Contact Pre Page Address</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="layout.id">
            <span faTranslate="fastAdminApp.deliveryNote.layout">Layout</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="layout.id">
            <span faTranslate="fastAdminApp.deliveryNote.layout">Layout</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliveryNote of deliveryNotes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery-note-fa', deliveryNote.id, 'view']">{{ deliveryNote.id }}</a>
          </td>
          <td>{{ deliveryNote.remoteId }}</td>
          <td>{{ deliveryNote.number }}</td>
          <td>{{ deliveryNote.contactName }}</td>
          <td>{{ deliveryNote.date | formatMediumDate }}</td>
          <td>{{ deliveryNote.periodText }}</td>
          <td faTranslate="{{ 'fastAdminApp.Currency.' + deliveryNote.currency }}">{{ deliveryNote.currency }}</td>
          <td>{{ deliveryNote.total }}</td>
          <td>{{ deliveryNote.vatIncluded }}</td>
          <td>{{ deliveryNote.discountRate }}</td>
          <td faTranslate="{{ 'fastAdminApp.DiscountType.' + deliveryNote.discountType }}">{{ deliveryNote.discountType }}</td>
          <td faTranslate="{{ 'fastAdminApp.DocumentLanguage.' + deliveryNote.language }}">{{ deliveryNote.language }}</td>
          <td>{{ deliveryNote.pageAmount }}</td>
          <td>{{ deliveryNote.notes }}</td>
          <td faTranslate="{{ 'fastAdminApp.DeliveryNoteStatus.' + deliveryNote.status }}">{{ deliveryNote.status }}</td>
          <td>{{ deliveryNote.created | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="deliveryNote.contact">
              <a [routerLink]="['/contact-fa', deliveryNote.contact?.id, 'view']">{{ deliveryNote.contact?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryNote.contactAddress">
              <a [routerLink]="['/contact-address-fa', deliveryNote.contactAddress?.id, 'view']">{{ deliveryNote.contactAddress?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryNote.contactPerson">
              <a [routerLink]="['/contact-person-fa', deliveryNote.contactPerson?.id, 'view']">{{ deliveryNote.contactPerson?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryNote.contactPrePageAddress">
              <a [routerLink]="['/contact-address-fa', deliveryNote.contactPrePageAddress?.id, 'view']">{{
                deliveryNote.contactPrePageAddress?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryNote.layout">
              <a [routerLink]="['/layout-fa', deliveryNote.layout?.id, 'view']">{{ deliveryNote.layout?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="deliveryNote.layout">
              <a [routerLink]="['/signature-fa', deliveryNote.layout?.id, 'view']">{{ deliveryNote.layout?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery-note-fa', deliveryNote.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery-note-fa', deliveryNote.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deliveryNote)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deliveryNotes && deliveryNotes.length > 0">
    <div class="row justify-content-center">
      <fa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></fa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
