<div>
  <h2 id="page-heading" data-cy="CatalogProductHeading">
    <span faTranslate="fastAdminApp.catalogProduct.home.title">Catalog Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.catalogProduct.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-catalog-product"
        [routerLink]="['/catalog-product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.catalogProduct.home.createLabel"> Create a new Catalog Product </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="catalogProducts?.length === 0">
    <span faTranslate="fastAdminApp.catalogProduct.home.notFound">No catalogProducts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="catalogProducts && catalogProducts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="remoteId">
            <span faTranslate="fastAdminApp.catalogProduct.remoteId">Remote Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="number">
            <span faTranslate="fastAdminApp.catalogProduct.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="name">
            <span faTranslate="fastAdminApp.catalogProduct.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="description">
            <span faTranslate="fastAdminApp.catalogProduct.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="notes">
            <span faTranslate="fastAdminApp.catalogProduct.notes">Notes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="categoryName">
            <span faTranslate="fastAdminApp.catalogProduct.categoryName">Category Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="includingVat">
            <span faTranslate="fastAdminApp.catalogProduct.includingVat">Including Vat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="vat"><span faTranslate="fastAdminApp.catalogProduct.vat">Vat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="unitName">
            <span faTranslate="fastAdminApp.catalogProduct.unitName">Unit Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="price">
            <span faTranslate="fastAdminApp.catalogProduct.price">Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="pricePurchase">
            <span faTranslate="fastAdminApp.catalogProduct.pricePurchase">Price Purchase</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="inventoryAvailable">
            <span faTranslate="fastAdminApp.catalogProduct.inventoryAvailable">Inventory Available</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="inventoryReserved">
            <span faTranslate="fastAdminApp.catalogProduct.inventoryReserved">Inventory Reserved</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="defaultAmount">
            <span faTranslate="fastAdminApp.catalogProduct.defaultAmount">Default Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="created">
            <span faTranslate="fastAdminApp.catalogProduct.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="inactiv">
            <span faTranslate="fastAdminApp.catalogProduct.inactiv">Inactiv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="category.id">
            <span faTranslate="fastAdminApp.catalogProduct.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="unit.id">
            <span faTranslate="fastAdminApp.catalogProduct.unit">Unit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="valueAddedTax.id">
            <span faTranslate="fastAdminApp.catalogProduct.valueAddedTax">Value Added Tax</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalogProduct of catalogProducts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/catalog-product', catalogProduct.id, 'view']">{{ catalogProduct.id }}</a>
          </td>
          <td>{{ catalogProduct.remoteId }}</td>
          <td>{{ catalogProduct.number }}</td>
          <td>{{ catalogProduct.name }}</td>
          <td>{{ catalogProduct.description }}</td>
          <td>{{ catalogProduct.notes }}</td>
          <td>{{ catalogProduct.categoryName }}</td>
          <td>{{ catalogProduct.includingVat }}</td>
          <td>{{ catalogProduct.vat }}</td>
          <td>{{ catalogProduct.unitName }}</td>
          <td>{{ catalogProduct.price }}</td>
          <td>{{ catalogProduct.pricePurchase }}</td>
          <td>{{ catalogProduct.inventoryAvailable }}</td>
          <td>{{ catalogProduct.inventoryReserved }}</td>
          <td>{{ catalogProduct.defaultAmount }}</td>
          <td>{{ catalogProduct.created | formatMediumDatetime }}</td>
          <td>{{ catalogProduct.inactiv }}</td>
          <td>
            <div *ngIf="catalogProduct.category">
              <a [routerLink]="['/catalog-category', catalogProduct.category?.id, 'view']">{{ catalogProduct.category?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="catalogProduct.unit">
              <a [routerLink]="['/catalog-unit', catalogProduct.unit?.id, 'view']">{{ catalogProduct.unit?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="catalogProduct.valueAddedTax">
              <a [routerLink]="['/value-added-tax', catalogProduct.valueAddedTax?.id, 'view']">{{ catalogProduct.valueAddedTax?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/catalog-product', catalogProduct.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/catalog-product', catalogProduct.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(catalogProduct)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="catalogProducts && catalogProducts.length > 0">
    <div class="row justify-content-center">
      <fa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></fa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
