<div>
  <h2 id="page-heading" data-cy="ContactHeading">
    <span jhlTranslate="fastAdminApp.contact.home.title">Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhlTranslate="fastAdminApp.contact.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-my-suffix"
        [routerLink]="['/contact-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhlTranslate="fastAdminApp.contact.home.createLabel"> Create a new Contact </span>
      </button>
    </div>
  </h2>

  <jhl-alert-error></jhl-alert-error>

  <jhl-alert></jhl-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'fastAdminApp.contact.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
    <span jhlTranslate="fastAdminApp.contact.home.notFound">No contacts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contacts && contacts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhlTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.number">Number</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.relation">Relation</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.type">Type</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.gender">Gender</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.genderSalutationActive">Gender Salutation Active</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.name">Name</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.nameAddition">Name Addition</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.salutation">Salutation</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.phone">Phone</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.fax">Fax</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.email">Email</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.website">Website</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.notes">Notes</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.communicationLanguage">Communication Language</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.communicationChannel">Communication Channel</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.communicationNewsletter">Communication Newsletter</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.currency">Currency</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.ebillAccountId">Ebill Account Id</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.vatIdentification">Vat Identification</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.vatRate">Vat Rate</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.discountRate">Discount Rate</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.discountType">Discount Type</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.paymentGrace">Payment Grace</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.hourlyRate">Hourly Rate</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.created">Created</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.mainAddressId">Main Address Id</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contact.mainAddress">Main Address</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-my-suffix', contact.id, 'view']">{{ contact.id }}</a>
          </td>
          <td>{{ contact.number }}</td>
          <td jhlTranslate="{{ 'fastAdminApp.ContactRelation.' + contact.relation }}">{{ contact.relation }}</td>
          <td jhlTranslate="{{ 'fastAdminApp.ContactType.' + contact.type }}">{{ contact.type }}</td>
          <td jhlTranslate="{{ 'fastAdminApp.GenderType.' + contact.gender }}">{{ contact.gender }}</td>
          <td>{{ contact.genderSalutationActive }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.nameAddition }}</td>
          <td>{{ contact.salutation }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.fax }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.website }}</td>
          <td>{{ contact.notes }}</td>
          <td>{{ contact.communicationLanguage }}</td>
          <td>{{ contact.communicationChannel }}</td>
          <td>{{ contact.communicationNewsletter }}</td>
          <td>{{ contact.currency }}</td>
          <td>{{ contact.ebillAccountId }}</td>
          <td>{{ contact.vatIdentification }}</td>
          <td>{{ contact.vatRate }}</td>
          <td>{{ contact.discountRate }}</td>
          <td>{{ contact.discountType }}</td>
          <td>{{ contact.paymentGrace }}</td>
          <td>{{ contact.hourlyRate }}</td>
          <td>{{ contact.created | formatMediumDatetime }}</td>
          <td>{{ contact.mainAddressId }}</td>
          <td>
            <div *ngIf="contact.mainAddress">
              <a [routerLink]="['/contact-address-my-suffix', contact.mainAddress?.id, 'view']">{{ contact.mainAddress?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-my-suffix', contact.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-my-suffix', contact.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
