<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="permission">
      <h2 data-cy="permissionDetailsHeading"><span faTranslate="fastAdminApp.permission.detail.title">Permission</span></h2>

      <hr />

      <fa-alert-error></fa-alert-error>

      <fa-alert></fa-alert>

      <dl class="row-md jh-entity-details">
        <dt><span faTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ permission.id }}</span>
        </dd>
        <dt><span faTranslate="fastAdminApp.permission.name">Name</span></dt>
        <dd>
          <span>{{ permission.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span faTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/permission', permission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span faTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
