<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span faTranslate="fastAdminApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span faTranslate="fastAdminApp.project.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span faTranslate="fastAdminApp.project.home.createLabel"> Create a new Project </span>
      </button>
    </div>
  </h2>

  <fa-alert-error></fa-alert-error>

  <fa-alert></fa-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span faTranslate="fastAdminApp.project.home.notFound">No projects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projects && projects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr faSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" faSortBy="id"><span faTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="remoteId">
            <span faTranslate="fastAdminApp.project.remoteId">Remote Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="number">
            <span faTranslate="fastAdminApp.project.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contactName">
            <span faTranslate="fastAdminApp.project.contactName">Contact Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="name"><span faTranslate="fastAdminApp.project.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" faSortBy="description">
            <span faTranslate="fastAdminApp.project.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="startDate">
            <span faTranslate="fastAdminApp.project.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="hoursEstimated">
            <span faTranslate="fastAdminApp.project.hoursEstimated">Hours Estimated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="hourlyRate">
            <span faTranslate="fastAdminApp.project.hourlyRate">Hourly Rate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="status">
            <span faTranslate="fastAdminApp.project.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" faSortBy="contact.id">
            <span faTranslate="fastAdminApp.project.contact">Contact</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
          </td>
          <td>{{ project.remoteId }}</td>
          <td>{{ project.number }}</td>
          <td>{{ project.contactName }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.startDate | formatMediumDate }}</td>
          <td>{{ project.hoursEstimated }}</td>
          <td>{{ project.hourlyRate }}</td>
          <td faTranslate="{{ 'fastAdminApp.ProjectStatus.' + project.status }}">{{ project.status }}</td>
          <td>
            <div *ngIf="project.contact">
              <a [routerLink]="['/contact', project.contact?.id, 'view']">{{ project.contact?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project', project.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project', project.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" faTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div class="row justify-content-center">
      <fa-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></fa-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
