<div>
  <h2 id="page-heading" data-cy="ContactReminderHeading">
    <span jhlTranslate="fastAdminApp.contactReminder.home.title">Contact Reminders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhlTranslate="fastAdminApp.contactReminder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact-reminder-my-suffix"
        [routerLink]="['/contact-reminder-my-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhlTranslate="fastAdminApp.contactReminder.home.createLabel"> Create a new Contact Reminder </span>
      </button>
    </div>
  </h2>

  <jhl-alert-error></jhl-alert-error>

  <jhl-alert></jhl-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'fastAdminApp.contactReminder.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="contactReminders?.length === 0">
    <span jhlTranslate="fastAdminApp.contactReminder.home.notFound">No contactReminders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contactReminders && contactReminders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhlTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.remoteId">Remote Id</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.contactId">Contact Id</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.contactName">Contact Name</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.dateTime">Date Time</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.title">Title</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.description">Description</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.intervalValue">Interval Value</span></th>
          <th scope="col"><span jhlTranslate="fastAdminApp.contactReminder.intervalType">Interval Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contactReminder of contactReminders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contact-reminder-my-suffix', contactReminder.id, 'view']">{{ contactReminder.id }}</a>
          </td>
          <td>{{ contactReminder.remoteId }}</td>
          <td>{{ contactReminder.contactId }}</td>
          <td>{{ contactReminder.contactName }}</td>
          <td>{{ contactReminder.dateTime | formatMediumDatetime }}</td>
          <td>{{ contactReminder.title }}</td>
          <td>{{ contactReminder.description }}</td>
          <td>{{ contactReminder.intervalValue }}</td>
          <td jhlTranslate="{{ 'fastAdminApp.IntervalType.' + contactReminder.intervalType }}">{{ contactReminder.intervalType }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contact-reminder-my-suffix', contactReminder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contact-reminder-my-suffix', contactReminder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contactReminder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhlTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
