<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="layout">
      <h2 data-cy="layoutDetailsHeading"><span faTranslate="fastAdminApp.layout.detail.title">Layout</span></h2>

      <hr />

      <fa-alert-error></fa-alert-error>

      <fa-alert></fa-alert>

      <dl class="row-md jh-entity-details">
        <dt><span faTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ layout.id }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.layout.remoteId" [ngbTooltip]="'fastAdminApp.layout.help.remoteId' | translate">Remote Id</span>
        </dt>
        <dd>
          <span>{{ layout.remoteId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span faTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/layout', layout.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span faTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
