<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="effort">
      <h2 data-cy="effortDetailsHeading"><span faTranslate="fastAdminApp.effort.detail.title">Effort</span></h2>

      <hr />

      <fa-alert-error></fa-alert-error>

      <fa-alert></fa-alert>

      <dl class="row-md jh-entity-details">
        <dt><span faTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ effort.id }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.remoteId" [ngbTooltip]="'fastAdminApp.effort.help.remoteId' | translate">Remote Id</span>
        </dt>
        <dd>
          <span>{{ effort.remoteId }}</span>
        </dd>
        <dt><span faTranslate="fastAdminApp.effort.userId" [ngbTooltip]="'fastAdminApp.effort.help.userId' | translate">User Id</span></dt>
        <dd>
          <span>{{ effort.userId }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.userName" [ngbTooltip]="'fastAdminApp.effort.help.userName' | translate">User Name</span>
        </dt>
        <dd>
          <span>{{ effort.userName }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.entityType" [ngbTooltip]="'fastAdminApp.effort.help.entityType' | translate"
            >Entity Type</span
          >
        </dt>
        <dd>
          <span faTranslate="{{ 'fastAdminApp.ReportingEntityType.' + effort.entityType }}">{{ effort.entityType }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.entityId" [ngbTooltip]="'fastAdminApp.effort.help.entityId' | translate">Entity Id</span>
        </dt>
        <dd>
          <span>{{ effort.entityId }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.duration" [ngbTooltip]="'fastAdminApp.effort.help.duration' | translate">Duration</span>
        </dt>
        <dd>
          <span>{{ effort.duration }}</span>
        </dd>
        <dt><span faTranslate="fastAdminApp.effort.date" [ngbTooltip]="'fastAdminApp.effort.help.date' | translate">Date</span></dt>
        <dd>
          <span>{{ effort.date | formatMediumDate }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.activityName" [ngbTooltip]="'fastAdminApp.effort.help.activityName' | translate"
            >Activity Name</span
          >
        </dt>
        <dd>
          <span>{{ effort.activityName }}</span>
        </dd>
        <dt><span faTranslate="fastAdminApp.effort.notes" [ngbTooltip]="'fastAdminApp.effort.help.notes' | translate">Notes</span></dt>
        <dd>
          <span>{{ effort.notes }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.isInvoiced" [ngbTooltip]="'fastAdminApp.effort.help.isInvoiced' | translate"
            >Is Invoiced</span
          >
        </dt>
        <dd>
          <span>{{ effort.isInvoiced }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.updated" [ngbTooltip]="'fastAdminApp.effort.help.updated' | translate">Updated</span>
        </dt>
        <dd>
          <span>{{ effort.updated | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span faTranslate="fastAdminApp.effort.hourlyRate" [ngbTooltip]="'fastAdminApp.effort.help.hourlyRate' | translate"
            >Hourly Rate</span
          >
        </dt>
        <dd>
          <span>{{ effort.hourlyRate }}</span>
        </dd>
        <dt><span faTranslate="fastAdminApp.effort.activity">Activity</span></dt>
        <dd>
          <div *ngIf="effort.activity">
            <a [routerLink]="['/reporting-activity', effort.activity?.id, 'view']">{{ effort.activity?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span faTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/effort', effort.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span faTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
