<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="fa-project-heading" data-cy="ProjectCreateUpdateHeading" faTranslate="fastAdminApp.project.home.createOrEditLabel">
        Create or edit a Project
      </h2>

      <div>
        <fa-alert-error></fa-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" faTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.remoteId"
            for="field_remoteId"
            [ngbTooltip]="'fastAdminApp.project.help.remoteId' | translate"
            >Remote Id</label
          >
          <input type="number" class="form-control" name="remoteId" id="field_remoteId" data-cy="remoteId" formControlName="remoteId" />
          <div *ngIf="editForm.get('remoteId')!.invalid && (editForm.get('remoteId')!.dirty || editForm.get('remoteId')!.touched)">
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('remoteId')?.errors?.number"
              faTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.number"
            for="field_number"
            [ngbTooltip]="'fastAdminApp.project.help.number' | translate"
            >Number</label
          >
          <input type="text" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.contactName"
            for="field_contactName"
            [ngbTooltip]="'fastAdminApp.project.help.contactName' | translate"
            >Contact Name</label
          >
          <input
            type="text"
            class="form-control"
            name="contactName"
            id="field_contactName"
            data-cy="contactName"
            formControlName="contactName"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.name"
            for="field_name"
            [ngbTooltip]="'fastAdminApp.project.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" faTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.description"
            for="field_description"
            [ngbTooltip]="'fastAdminApp.project.help.description' | translate"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.startDate"
            for="field_startDate"
            [ngbTooltip]="'fastAdminApp.project.help.startDate' | translate"
            >Start Date</label
          >
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('startDate')?.errors?.required"
              faTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.hoursEstimated"
            for="field_hoursEstimated"
            [ngbTooltip]="'fastAdminApp.project.help.hoursEstimated' | translate"
            >Hours Estimated</label
          >
          <input
            type="number"
            class="form-control"
            name="hoursEstimated"
            id="field_hoursEstimated"
            data-cy="hoursEstimated"
            formControlName="hoursEstimated"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.hourlyRate"
            for="field_hourlyRate"
            [ngbTooltip]="'fastAdminApp.project.help.hourlyRate' | translate"
            >Hourly Rate</label
          >
          <input
            type="number"
            class="form-control"
            name="hourlyRate"
            id="field_hourlyRate"
            data-cy="hourlyRate"
            formControlName="hourlyRate"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            faTranslate="fastAdminApp.project.status"
            for="field_status"
            [ngbTooltip]="'fastAdminApp.project.help.status' | translate"
            >Status</label
          >
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'fastAdminApp.ProjectStatus.null' | translate }}</option>
            <option value="OPEN">{{ 'fastAdminApp.ProjectStatus.OPEN' | translate }}</option>
            <option value="CLOSED">{{ 'fastAdminApp.ProjectStatus.CLOSED' | translate }}</option>
            <option value="BILLED">{{ 'fastAdminApp.ProjectStatus.BILLED' | translate }}</option>
            <option value="PENDING">{{ 'fastAdminApp.ProjectStatus.PENDING' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" faTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" faTranslate="fastAdminApp.project.contact" for="field_contact">Contact</label>
          <select class="form-control" id="field_contact" data-cy="contact" name="contact" formControlName="contact">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="contactOption.id === editForm.get('contact')!.value?.id ? editForm.get('contact')!.value : contactOption"
              *ngFor="let contactOption of contactsSharedCollection; trackBy: trackContactById"
            >
              {{ contactOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span faTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span faTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
